<!DOCTYPE html>
<html>
    <head>
        <title>Summoners War Guide Vote</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/umd/popper.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/summoners/summon_list.js"></script>
    </head>
    <body>
        
        <% include partials/header %>
        <h1>What a lovely day</h1>
        <div class="alert alert-primary" role="alert">
            
        </div>
        <div id="loading" style="display:none;">
            Carregando...
        </div>
        <div id="content">
            Por enquanto esta vazio!
        </div>
        <% include partials/footer %>
    </body>
</html>