<html>
    <head>
            <title>Summoners War General Progression Infographic</title>
            <link rel="stylesheet" href="/css/bootstrap.min.css">
            <link rel="stylesheet" href="/css/progression.css">
            <script src="/js/jquery-3.2.1.min.js"></script>
            <script src="/js/umd/popper.js"></script>
            <script src="/js/bootstrap.min.js"></script>
            <script src="/js/summoners/summon_list.js"></script>
        </head>
    <body>
        <h1>Summoners War General Progression Infographic</h1>
        <div class="divEarlyGame">
            <h2>Early Game</h2>
            <div class="step step-left">
                <img src="/img/progression/dark-ifrit.png">
                <div class="alert alert-primary" role="alert">
                    This is a primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                </div>
            </div>
            <div class="step step-right">
                <img src="/img/progression/dark-ifrit.png">    
                <div class="alert alert-primary" role="alert">
                    This is a primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                </div>
            </div>
        </div>
    </body>
</html>